!!!5
%html
  %head
    %meta{charset: 'utf-8'}
    %title= "Radio DePaul | #{current_page.data.page_title}"
    %meta{content: '', name: 'description'}
    %meta{content: 'width=device-width', name: 'viewport'}
    %meta{content: "Radio DePaul is DePaul University's award-winning student radio station. Featuring a vibrant blend of music, talk, news, and sports, Radio DePaul is Chicago's College Connection!", name: 'Description'}
    %link{href: 'https://s3.amazonaws.com/radiodepaul/css/slides/slides.css', media: 'screen', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'https://s3.amazonaws.com/radiodepaul/css/reset.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/main.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700|Tenor+Sans&v2', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/blue.monday/jplayer.blue.monday.css', rel: 'stylesheet', type: 'text/css'}
    / [if lt IE 9]
      <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    %script{src: '/js/main.js', type: 'text/javascript'}
    %script{src: 'https://www.google.com/jsapi?callback=loadGoogleAPIs&key=ABQIAAAA-HgkQ3h85RC9grgGQsrSnhSP5c0xxhF7kkwus1Uc2hzPhLJBLxTWfP5nbXo7i4gExC2Q7K1TO0kBJg', type: 'text/javascript'}
  %body{title: current_page.data.body_title }
    = partial 'partials/header'
    #categories
      = yield_content :categories
    #page
      #clock
      #weather
      %header
        %a{href: '/'}
          %img#logo{alt: '', src: 'https://s3.amazonaws.com/radiodepaul/img/logo.png'}
        %h1#title.tk-futura-pt Chicago's College Connection
        %nav= partial 'partials/nav'
      #main= yield
    %footer= partial 'partials/footer'
